createdAt: "2021-05-03T05:18:50.944Z"
updatedAt: "2021-05-03T05:18:54.314Z"
type: "MARKDOWN_NOTE"
folder: "53ae7306bdf891a3986c"
title: "章No: 0"
tags: []
content: '''
  ### 章No: 0
  
  ## テーマ: クラシック業界で注目される「上映公演」
  
  IS13-1
  学籍番号: k017c1344
  氏名: 峯島 和希
  
  ---
  
  ## 概要
  
  オーケストラは、世界各国を飛び回り各地で公演を行っている。
  
  しかし、ヨーロッパに比べ、クラシックファンの人口が少ない日本のような国へは、著名なオーケストラやソリストは滅多にやってこない。
  世界一のオーケストラと呼ばれる「ベルリン・フィルハーモニー管弦楽団」に至っては4年間来日しないこともしばしばあるほどだ。
  他にも、チケットの値段が数万円と高価だったり、コンサートホールの大きさの問題で需要に供給が間に合わず、チケットを手にできない人がとても数多く存在する。
  
  オーケストラによっては、需要に供給がまったく追いついていない現実がある。
  
  そんな中、オーケストラの公演を録画またはライブで配信するサービスや、映画館で公演を上映するという形をとった新たな「公演」に注目が集まっている。
  
  ## デジタル・コンサートホール
  
  ベルリンフィルが行っているサービスで、公演の録画映像をサブスクリプション方式で提供している。
  録画映像の他、現地の公演をライブで放送するなども行っており、気軽に演奏をスマートフォンや、PC、テレビなどで楽しむことができる。
  
  手軽な分、クラシックの魅力のひとつである「大迫力」という部分で生演奏と比べるとどうしても劣る部分があるが、様々な作曲家、ソリストの演奏を好きな時、好きな場所で映像と楽しめるのは大きな魅力の一つである。
  
  昨今の新型コロナウイルスによって、コンサートホールでの公演そのものが難しい情勢の中、特に需要は高まっているように感じる。
  事実、ベルリンフィルはウイルスの影響によってコンサートホールを閉鎖し、代わりとして本サービスの無料配信を期間限定で行った。
  
  ![デジタル・コンサートホール](https://www.iij.ad.jp/cd/images/dch/dch_im00.png)
  
  ## ベルリン・フィル・イン・シネマ
  
  ベルリンフィルが試みた新しい「公演」。
  映画館で、公演の録画映像を上映するといったものだ。
  
  先程の「デジタル・コンサートホール」と違い、映画館の質の高い音響システムで公演を楽しむことができる。
  時と場所を問わず、というわけにはいかないが、チケットも2800円と生公演の約1/15の値段で買うことができる上、質の良い音響、大迫力の演奏が楽しめるという点で大きな魅力を感じる。
  
  ![ベルリン・フィル・イン・シネマ](http://www.bunkamura.co.jp/data/files/cinema/2016/20160908/mainvisual.jpg)
  
  ## 終わりに
  
  音楽プレイヤーなどによって、音楽が気軽に聴ける世の中でも、演奏を「見る」ということに大きな需要がある。
  技術の発展にともなって、オーケストラがその場にいなくても公演が楽しめるこういったサービスはクラシック業界に限らず
  ライブや劇などでも発展していくと思う。
  
  それでもやはり、コンサートホールにはコンサートホールの、ライブ会場にはライブ会場の空気感や雰囲気といった映像配信では感じられない魅力があるのも確かで、こういったサービスは発展すると思うが、生公演といったものが廃れていくとは思わない。
  
  今後は、空気感や雰囲気といった目に見えない魅力をどうやって表現するか、という点で課題となっていくのではないかと思う。
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
